.footer {
  padding: 3rem;
  background-color: rgba(220, 220, 220, 0.653);
  position: relative;
  clear: both;
  margin-top: 20.5rem;
}

.form_footer {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.591);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
